@CHARSET "UTF-8";


div.img_acceuil {
	position: relative;
	top: 310px;
	left: 150px;
	width: 500px;
}

div.img {
	position: relative;
	top: 520px;
	left: 150px;
	width: 500px;
}

div.img2 {
	position: relative;
	top: 30px;
	left: 150px;
	width: 500px;
}

div.img3 {
	position: relative;
	top: -40px;
	left: 150px;
	width: 500px;
}


td.menu {
	text-align : center;
	border-width: 5px;
 	border-style: solid;
	border-color: black;
    border-radius: 300px;
    width : 300px;
    height : 30px;
    font-size : 25px;
}


h5.lower1 {
	color : white;
}

h5.lower2 {
	color : white;
	text-align : center;
}

h1.titre {
	color : green;
	font-size : 75px;
	margin: 0px;
}


div.produit{
	display:flex;
	flex-direction:row;
	justify-content:left;
	align-items:left;
	background-image: url(http://localhost/PPE_GEEKZONE/img/3LnbfWi.png) no-repeat center fixed; 
  	background-size: cover;
}




p.cuisine{
	justify-content:left;
	width:300px;
	text-align:center;
	font-size:40px;
	color:green;
}
p.cuisine1{
	
	width:300px;
	text-align:center;
	font-size:40px;
	color:green;
}

p.topvente{
	position:absolute;
	right:50%;
	left:40%;
	justify-content:center;
	width:300px;
	text-align:center;
	font-size:40px;
	color:green;
}

p.gadget{
	position:absolute;
	left: 83%;
	justify-content:right;
	width:300px;
	text-align:center;
	font-size:40px;
	color:green;
	
}
p.gadget1{
	position:absolute;
	left: 80%;
	justify-content:right;
	width:300px;
	text-align:center;
	font-size:40px;
	color:green;
	
}
p.gadget2{
	position:absolute;
	left: 80%;
	justify-content:right;
	width:300px;
	text-align:center;
	font-size:40px;
	color:green;
	
}

p.mode{
	justify-content:left;
	width:300px;
	text-align:center;
	font-size:40px;
	color:green;
	
}

p.portable{
	position:absolute;
	right:50%;
	left:40%;
	justify-content:center;
	width:300px;
	text-align:center;
	font-size:40px;
	color:green;
}


p.usb{
	position:absolute;
	left: 83%;
	justify-content:right;
	width:300px;
	text-align:center;
	font-size:40px;
	color:green;
	
}


div.boutiques{
	display:flex;
	flex-direction:row;
	justify-content:left;
	align-items:left;
}

p.topvente1{
	position:absolute;
	right:20%;
	left:57%;
	justify-content:center;
	width:300px;
	text-align:center;
	font-size:40px;
	color:green;
}

p.topvente2{
	position:absolute;
	right:25%;
	left:32%;
	justify-content:center;
	width:300px;
	text-align:center;
	font-size:40px;
	color:green;
}

p.topvente3{
	position:absolute;
	right:20%;
	left:44%;
	justify-content:center;
	width:300px;
	text-align:center;
	font-size:40px;
	color:green;
}













body {
	margin: 0;
	padding: 0;
	color:#fff;
	font: normal 90% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	overflow: hidden;
	background: #000;

}

h2 {
	margin-top:0;
	font-size: 2em;
	font-weight:bold;
	color: green;
}

a {
	font-weight:bold;
	color:#fff;
}


/* Wrapper */
#wrap {
	position: relative;
	top:0;
	-webkit-transition: top 1.4s cubic-bezier(.49,.22,.52,1);
	-moz-transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
	-ms-transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
	-o-transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
	transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
}


/* Nav */
#nav {
	position: fixed;
	top: 0; left:0; right: 0;
	padding: 1em 0;
	margin:0;
	background: #000;
	text-align:center;
	font-size: 1em;
	z-index:10;
}
#nav li {
	display: inline;
	margin:0;
}
#nav a {
	display: inline-block;
	margin: 0 3em;
	color: #eee;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 0 5px #fff;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}


/* slides */
#slide1, #slide2, #slide3, #slide4, #slide5 {
	height: 1000px;
	padding-top:100px;
	-webkit-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1);
	-moz-transition: background-position 1.4s cubic-bezier(.49,.22,.52,1.35);
	-ms-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
	-o-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
	transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
	
}


/* Slides contents */
.slide_inside {
	width: 770px;
	margin: 0 auto;
	position: relative;
	background-color: rgba(0, 0, 0, .6);
	padding: 50px;
	
	
}

#slide1 .slide_inside {
	text-align: center;
	background-color: transparent;
}
#slide2 .slide_inside p {
	width: 500px;
	text-align: justify;
}
#slide3 .slide_inside p {
	margin-top: 50px;
}
#slide4 .slide_inside p {
	margin-top: 50px;
}
#slide5 .slide_inside p {
	margin-top: 50px;
}


#slide1 {
	background: url(../img/sw2.png);
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size : 100%;
}
#slide2 {
	background: url(../img/sw2.png);
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size : 100%;
}
#slide3 {
	background: url(../img/mario2.jpg);
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size : 100%;
}
#slide4 {
	background: url(../img/pokemon.jpg);
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size : 100%;
}
#slide5 {
	background: url(../img/sw2.png);
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size : 100%;
}




#clone, #mario, #reptincel {
	position: absolute;
	left:-180px; top: 300px;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
	-webkit-transition: all 1.4s cubic-bezier(.49,.22,.52,1);
	-moz-transition: all 1.4s cubic-bezier(.49,.22,.52,1);
	-ms-transition: all 1.4s cubic-bezier(.49,.22,.52,1);
	-o-transition: all 1.4s cubic-bezier(.49,.22,.52,1);
	transition: all 1.4s cubic-bezier(.49,.22,.52,1);
}
#clone {
	left: -280px;
	top: 400px;
}
#mario {
	width : 30%;
}
#reptincel {
	width : 30%;
}




/* targeted elements */

#s1:target ~ #wrap { top:0px; }
#s1:target ~ #wrap #nav li:nth-child(1) a{ text-shadow: 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800; }
#s1:target ~ #wrap #slide1 { background-position: 50% 0%; }
#s1:target ~ #wrap #slide2 { background-position: 50% -25%; }
#s1:target ~ #wrap #slide3 { background-position: 50% -50%; }
#s1:target ~ #wrap #slide4 { background-position: 50% -65%; }
#s1:target ~ #wrap #slide5 { background-position: 50% -80%; }
#s1:target ~ #wrap #clone { left: -280px; top: 300px;-webkit-transform: rotate(10deg);-moz-transform: rotate(10deg);-ms-transform: rotate(10deg);-o-transform: rotate(10deg);transform: rotate(10deg); }
#s1:target ~ #wrap #mario { left:-280px;top: 300px;-webkit-transform: rotate(-10deg);-moz-transform: rotate(10deg);-ms-transform: rotate(10deg);-o-transform: rotate(10deg);transform: rotate(10deg); }
#s1:target ~ #wrap #reptincel { left:-280px;top: 300px;-webkit-transform: rotate(-10deg);-moz-transform: rotate(10deg);-ms-transform: rotate(10deg);-o-transform: rotate(10deg);transform: rotate(10deg); }


#s2:target ~ #wrap { top:-1150px; }
#s2:target ~ #wrap #nav li:nth-child(2) a { text-shadow: 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800; }
#s2:target ~ #wrap #slide1 { background-position: 50% 0%; }
#s2:target ~ #wrap #slide2 { background-position: 50% -25%; }
#s2:target ~ #wrap #slide3 { background-position: 50% -50%; }
#s2:target ~ #wrap #slide4 { background-position: 50% -65%; }
#s2:target ~ #wrap #slide5 { background-position: 50% -80%; }
#s2:target ~ #wrap #clone { left: -350px; top: 50px; -webkit-transform: rotate(0deg);-moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg);transform: rotate(0deg); }
#s2:target ~ #wrap #mario { left:-280px;top: 300px;-webkit-transform: rotate(7deg);-moz-transform: rotate(7deg);-ms-transform: rotate(7deg);-o-transform: rotate(7deg);transform: rotate(7deg); }
#s2:target ~ #wrap #reptincel { left:-280px;top: 300px;-webkit-transform: rotate(7deg);-moz-transform: rotate(7deg);-ms-transform: rotate(7deg);-o-transform: rotate(7deg);transform: rotate(7deg); }


#s3:target ~ #wrap { top:-2245px; }
#s3:target ~ #wrap #nav li:nth-child(3) a{ text-shadow: 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800; }
#s3:target ~ #wrap #slide1 { background-position: 50% 0%; }
#s3:target ~ #wrap #slide2 { background-position: 50% -25%; }
#s3:target ~ #wrap #slide3 { background-position: 50% -50%; }
#s3:target ~ #wrap #slide4 { background-position: 50% -65%; }
#s3:target ~ #wrap #slide5 { background-position: 50% -80%; }
#s3:target ~ #wrap #clone { left:-1000px;top: -800px;-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-ms-transform: rotate(-15deg);-o-transform: rotate(-15deg);transform: rotate(-15deg); }
#s3:target ~ #wrap #mario { left:-350px;top: 50px;-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-ms-transform: rotate(-15deg);-o-transform: rotate(-15deg);transform: rotate(-15deg); }
#s3:target ~ #wrap #reptincel { left:-280px;top: 300px;-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-ms-transform: rotate(-15deg);-o-transform: rotate(-15deg);transform: rotate(-15deg); }


#s4:target ~ #wrap { top:-3330px; }
#s4:target ~ #wrap #nav li:nth-child(4) a { text-shadow: 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800; }
#s4:target ~ #wrap #slide1 { background-position: 50% 0%; }
#s4:target ~ #wrap #slide2 { background-position: 50% -25%; }
#s4:target ~ #wrap #slide3 { background-position: 50% -50%; }
#s4:target ~ #wrap #slide4 { background-position: 50% -65%; }
#s4:target ~ #wrap #slide5 { background-position: 50% -80%; }
#s4:target ~ #wrap #clone { left:-1000px;top: -800px;-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-ms-transform: rotate(-15deg);-o-transform: rotate(-15deg);transform: rotate(-15deg); }
#s4:target ~ #wrap #mario { left:-1000px;top: -800px;-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-ms-transform: rotate(-15deg);-o-transform: rotate(-15deg);transform: rotate(-15deg); }
#s4:target ~ #wrap #reptincel { left:-350px;top: 50px;-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-ms-transform: rotate(-15deg);-o-transform: rotate(-15deg);transform: rotate(-15deg); }


#s5:target ~ #wrap { top:-4415px; }
#s5:target ~ #wrap #nav li:nth-child(5) a{ text-shadow: 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800, 0 0 5px #00e800; }
#s5:target ~ #wrap #slide1 { background-position: 50% 0%; }
#s5:target ~ #wrap #slide2 { background-position: 50% -25%; }
#s5:target ~ #wrap #slide3 { background-position: 50% -50%; }
#s5:target ~ #wrap #slide4 { background-position: 50% -65%; }
#s5:target ~ #wrap #slide5 { background-position: 50% -80%; }
#s5:target ~ #wrap #clone { left:-1000px;top: -800px;-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-ms-transform: rotate(-15deg);-o-transform: rotate(-15deg);transform: rotate(-15deg); }
#s5:target ~ #wrap #mario { left:-1000px;top: -800px;-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-ms-transform: rotate(-15deg);-o-transform: rotate(-15deg);transform: rotate(-15deg); }
#s5:target ~ #wrap #reptincel { left:-1000px;top: -800px;-webkit-transform: rotate(-15deg);-moz-transform: rotate(-15deg);-ms-transform: rotate(-15deg);-o-transform: rotate(-15deg);transform: rotate(-15deg); }
